  html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  /*タッチデバイスやmacでスクロールされないようにする*/
  /* overflow …… はみ出た要素の表示方法を指定する */
  /* hidden はみ出た部分を表示しない*/
  overflow: hidden;
}

header ul li{
    float: right;
    font-size: small;
    padding-right: 10px;
    list-style: none;
}

header ul li span{
    display: inline-block;
    width: 23px;
    border-radius: 50%;
    background: skyblue;
    text-align:center;
    line-height: 23px;
    color: white;
    background-color: red;
}

main{
    padding-top: 109px;
}

.logo{
    padding-bottom: 20px;
    height: 92px;
    text-align: center;
}

.logo2{
    text-align: center;
}

.search_container{
    box-sizing: border-box;
    position: relative;
    background-color: #f7f8f8;
    border: 1px solid #dfe1e5;
    display: block;
    padding: 3px 10px;
    border-radius: 24px;
    height: 47px;
    width: 482px;
    overflow: hidden;
    margin: 0 auto;
  }

  .search_box{
    background-color: #f7f8f8;
    width: 400px;
    padding: 6px;
    font-size: 13px;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #9AA0A6;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    left: 0;
    top: -10px;
    padding: 10px 7px 2px 7px;
    outline : none;
  }

  .subbutton{
    padding-top: 20px;
    text-align: center;
  }
  
  .push{
    cursor : pointer;
    background-color: #f7f8f8;
    border: 1px solid #dfe1e5;
    border-radius: 3px;
    height: 30px;
  }

  body,
  #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

  footer{
    width: 100%;
    background-color:  #f2f2f2;
    color: #5F6368;
    font-size: small;
    text-align: center;
    padding: 3px 0;
    margin-top: auto;
  }

  .left li{
      float: left;
      padding: 1px 13px 7px 0px;
      list-style: none;    
  }

  .right li{
    float: right;
    padding: 1px 13px 7px 0px;
    list-style: none;
}